.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    width: 360px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
    color: rgb(23, 25, 23);


}


.service>img {
    width: 100%;
}

.service:hover>img {
    filter: saturate(0);

}

.service:hover .serviceName {
    opacity: 0;
    transition: 0.5s;
}


.serviceName {
    background-color: rgba(240, 248, 255, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    width: 220px;
    padding: 10px;
    top: 30%;
}

.serviceName>img {
    width: 15%;
}

.description {
    font-size: 20px;
    min-height: 72px;
}

.bottomDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottomDetails>div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 21px;
}


.bottomDetails>div>P {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #404040e4;
}

.btn {
    background-color: rgb(0 0 0);
    transition: 0.5s;
    border: 1px solid black;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    color: rgb(0, 0, 0)
}