.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    width: 360px;
    height: 360px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;

}

.service:hover {
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.service>img {
    width: 100%;
}


.serviceName {
    background-color: rgba(240, 248, 255, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    width: 220px;
    padding: 10px;
}

.serviceName>img {
    width: 15%;
}



.btn {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.599);
}

.btn:hover .view {
    top: 80%;

}

.view {
    position: relative;
    top: 150%;
    left: 30%;
    border: none;
    background-color: #767b67;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}