.bannerCon {
    height: 92vh;
    background-image: url("https://i.ibb.co/r61FR8h/HomeBG.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;


}

.mrX {
    display: none;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    gap: 10px;

}

.welcome img {
    width: 66px;
}

.welcome h2 {
    color: white;
    font-weight: 400;
}

.bannerTitle,
.Xtitle {
    font-size: 80px;
    color: white;
    font-weight: 400;
}

.txt p {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.Xtitle {
    display: none;
}


@media screen and (max-width: 500px) {

    .mrY {
        display: none;
    }

    .mrX {
        display: flex;
    }

    .bannerCon {
        height: 303px;
        justify-content: start;
    }

    .welcome h2 {
        font-size: 19px;
    }


    .bannerTitle {
        font-size: 22px;
    }





    .txt p {
        width: 300px;
        font-size: 9px;
    }

}

@media screen and (min-width: 500px) and (max-width: 930px) {

    .mrY {
        display: none;
    }

    .mrX {
        display: flex;
    }

    .bannerCon {
        height: 303px;
        justify-content: start;
    }


    .bannerTitle {
        font-size: 33px;
    }

    .txt p {
        width: 300px;
        font-size: 9px;
    }
}

@media screen and (min-width: 930px) and (max-width: 1280px) {


    .mrY {
        display: none;
    }

    .mrX {
        display: flex;
    }

    .bannerTitle {
        font-size: 53px;
    }

    .bannerCon {
        height: 350px;
    }


}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}

@media screen and (min-width: 1441px) and (max-width: 1920px) {}

@media screen and (min-width: 1921px) {}