.mother {
    padding: 120px 90px
}

.productsCon {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin: 50px 0 0 0;
    justify-content: center;

}


.productHead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.productTitle {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Cormorant Garamond', serif;
}


@media screen and (max-width: 400px) {
    .productsCon {
        grid-template-columns: repeat(1, 360px);
    }

    .productTitle {
        font-size: 25px;
        width: 360px;
        text-align: center;

    }


    .mother {
        padding: 120px 10px;
    }
}

@media screen and (min-width: 401px) and (max-width: 820px) {



    .productsCon {
        grid-template-columns: repeat(1, 360px);
    }

    .productTitle {
        font-size: 32px;
        width: 360px;

    }


    .mother {
        padding: 120px 10px;
    }


}

@media screen and (min-width: 820px) and (max-width: 1280px) {
    .productsCon {
        grid-template-columns: repeat(2, 360px);
    }

    .productTitle {
        font-size: 32px;
        width: 360px;

    }


    .mother {
        padding: 120px 10px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1800px) {
    footer {
        padding: 50px 250px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {}

@media screen and (min-width: 1921px) {}