nav {
    background-color: white;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    color: #767b67;
}

nav .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 43px;
}

nav ul li .links {
    color: #0d0d0d;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;

}


/* active route style */
.active {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 90%;
    background-color: black;
    border-radius: 50%;
    left: 0;
    bottom: -10px;


}

/* hover effect styling */


nav ul li {
    position: relative;

}

nav ul li::after {

    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: black;
    border-radius: 50%;
    left: 50%;
    right: 50%;
    bottom: -21px;
    transition: 0.3s;

}

nav ul li:hover::after {
    width: 5px;
    height: 5px;
}


.authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
    color: #0d0d0d;

}

.authLinks {
    color: #0d0d0d;
}


.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user img {
    width: 42px;
    border-radius: 50%;
}

.user p {
    font-size: 18px;
}

.Xsection {
    display: none;
}

.menubar {
    display: none;
    background: #e6e7e7;
    padding: 42px 12px;
    border-radius: 13px;
}

.Xicon {
    display: none;
}



@media screen and (max-width: 400px) {

    nav {
        position: relative;
        padding: 20px;
    }

    nav .navLinks {
        display: none;


    }

    nav h1 {
        display: none;
    }

    .menubar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        left: 25px;
        bottom: -230px;
        z-index: 99;

    }

    .Xicon {
        font-size: 20px;
        display: flex;
    }

}

@media screen and (min-width: 400px) and (max-width: 650px) {

    nav {
        position: relative;
        padding: 30px;
    }

    nav .navLinks {
        display: none;


    }

    nav h1 {
        display: none;
    }

    .menubar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        left: 25px;
        bottom: -230px;
        z-index: 99;

    }

    .Xicon {
        font-size: 20px;
        display: flex;
    }

}

@media screen and (min-width: 650px) and (max-width: 720px) {
    nav {
        position: relative;
        padding: 30px;
    }

    nav .navLinks {
        display: none;


    }

    .menubar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        left: 25px;
        bottom: -230px;
        z-index: 99;

    }

    .Xicon {
        font-size: 20px;
        display: flex;
    }
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    nav {
        flex-direction: column;
        padding: 30px 50px;
        gap: 20px;
    }

    .Xsection {
        display: flex;
    }

    .Ysection {
        display: none;
    }

    .serviceCon {
        padding: 70px 0;
    }

    .allService {
        grid-template-columns: repeat(2, 360px)
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}

@media screen and (min-width: 1441px) and (max-width: 1920px) {}

@media screen and (min-width: 1921px) {}