.serviceCon {
    padding: 70px 390px;
    font-family: 'Cormorant Garamond', serif;
}

.top {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;


}

.top h1 {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 36px;

}

.allService {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 20px;
    margin: 50px 0 0 0;
}



/* font-family: 'Cormorant Garamond', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Dancing Script', cursive;

*/