.serviceCon {
    padding: 70px 390px;
    font-family: 'Cormorant Garamond', serif;
}

.top {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;


}

.top h1 {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 36px;

}

.allService {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 20px;
    margin: 50px 0 0 0;
    justify-content: center;
}


@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 800px) {
    .serviceCon {
        padding: 70px 0;
    }

    .allService {
        grid-template-columns: repeat(1, 360px)
    }

}

@media screen and (min-width: 800px) and (max-width: 1280px) {
    .serviceCon {
        padding: 70px 0;
    }

    .allService {
        grid-template-columns: repeat(2, 360px)
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}

@media screen and (min-width: 1441px) and (max-width: 1920px) {}

@media screen and (min-width: 1921px) {}

/* font-family: 'Cormorant Garamond', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Dancing Script', cursive;

*/